.process_div {
  /* background-color: red; */
  width: 40vw;
  margin: 7vh auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-bottom: 1.5rem;
  /* margin-bottom: 4rem; */
  background-color: white;
  text-align: center;
}

.analyse_btn_div {
  margin-top: 0.5rem;
}
.upload_line {
  font-size: 1.5rem;
  margin: 3rem 0 1.5rem 0;
}

.upload_btn_div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_btn_div button {
  border: 3px dotted black !important;
  padding: 1rem 0;
  width: 12vw;
}

.selectedFileName {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 0.8rem;
}
.green_check {
  color: green;
}

.checks {
  display: flex;
  flex-direction: column;
}

.red_cross {
  color: red;
}

@media only screen and (max-width: 970px) {
  .process_div {
    width: 80vw;
  }

  .upload_btn_div button {
    width: 30vw;
  }
}
@media only screen and (max-width: 450px) {
  .upload_line {
    font-size: 1rem;
  }
}
