.process_div {
  /* background-color: red; */
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  padding-bottom: 1.5rem;
  /* margin-bottom: 4rem; */
  background-color: white;
  text-align: center;
  background-color: #fd5a5a;
  color: white;
}

.analyse_btn_div {
  margin-top: 0.5rem;
}
.upload_line {
  font-size: 3rem;
  font-weight: bold;
  margin: 0rem 0 1.5rem 0;
}

.upload_btn_div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload_btn_div button {
  border: 3px dotted white !important;
  padding: 1.5rem 0;
  width: 16vw;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.analyse_btn {
  margin-top: 2rem;
  width: 16vw;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.selectedFileName {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 0.8rem;
}
.green_check {
  color: green;
}

.checks {
  display: flex;
  flex-direction: column;
}

.red_cross {
  color: red;
}

@media only screen and (max-width: 970px) {
  .process_div {
    width: 100vw;
  }

  .upload_btn_div button {
    width: 13rem;
  }
}
@media only screen and (max-width: 450px) {
  .upload_line {
    font-size: 1.5rem;
  }

  .upload_btn_div button {
    width: 9rem;
    font-size: 1rem;
    padding: 1rem 0;
  }

  .process_div {
    height: 50vh;
  }

  .analyse_btn {
    margin-top: 0rem;
    width: 9rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
  }
}
